@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700');
@import url('materialize.css');
@import url('slick.css');
@import url('keyframe.css');
@import url('swipebox.min.css');
@import url('font-awesome.min.css');
img,
legend {
    border: 0
}

.load-more,
.lock,
.pagination li a,
.socmed {
    text-decoration: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
optgroup,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre,
textarea {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    height: auto
}

.bold,
.load-more,
.page-title,
blockquote cite,
span.dropcap {
    font-weight: 700
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input:not([type]):focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: 0;
    background-image: none
}

.load-more,
.pagination li.active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

body {
    margin: 0;
    font-family: Lato, sans-serif;
    background: #efefef;
    line-height: 1.5;
    font-size: 15px;
    color: #444
}

body::-webkit-scrollbar {
    display: none
}

.lock,
.social-media a,
.socmed {
    display: inline-block;
    color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    padding: 0
}

.line,
address {
    margin-bottom: 20px
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 23px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

ol,
ul {
    padding-left: 15px
}

ul li {
    list-style-type: disc
}

ol li,
ul li {
    list-style-position: inside
}

address {
    font-style: normal
}

td,
th {
    padding: 7px 5px
}

.line {
    height: 1px;
    background: #eee
}

.content-container.full-overlay,
.content-container.no-overlay {
    height: calc(100vh - 56px);
    position: relative
}

.text-center {
    text-align: center
}

.content-container {
    min-height: 348px;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box
}

.content-container.full-overlay {
    background: #000;
    background: rgba(0, 0, 0, .5)
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box
}

.padding {
    padding: 15px
}

.margin-bottom_low {
    margin-bottom: 5px
}

.margin-bottom {
    margin-bottom: 15px
}

.margin-top {
    margin-top: 15px
}

.justify {
    text-align: justify
}

.btn,
.btn-large,
.coming-soon,
.load-more,
.social-media {
    text-align: center
}

.border-bottom {
    border-bottom: 1px solid #efefef
}

.fixed {
    position: fixed
}

.page-title {
    color: #000;
    padding: 15px 0;
    font-size: 18px
}

.lock,
.socmed {
    font-size: 20px
}

.lock {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent
}

.lock:hover {
    border: 2px solid #fff
}

.coming-soon {
    width: 100%;
    color: #fff
}

.social-media {
    padding: 15px 15px 25px
}

.social-media a {
    margin: 0 10px;
    font-size: 25px
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.input-field label {
    left: 0;
    width: 100%
}

.input-field.with-icon input {
    padding-left: 25px;
    box-sizing: border-box
}

.input-field.with-icon label {
    left: 30px
}

.input-field.with-icon .icon {
    color: #9e9e9e;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px
}

.load-more,
p,
pre {
    display: block
}

.load-more {
    background: #fff;
    color: #000;
    padding: 8px 15px
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0
}

[type=radio].with-gap:checked+label:after,
[type=radio]:checked+label:after {
    background-color: #42ba46;
    border: 2px solid #42ba46
}

blockquote {
    padding: 8px 6px;
    margin-bottom: 15px;
    border: 1px solid #efefef;
    font-size: 20px;
    font-style: italic;
    line-height: 28px
}

blockquote cite {
    display: block;
    font-style: normal;
    font-size: 15px
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

.pagination {
    padding: 0
}

.pagination li {
    border-radius: 0
}

.pagination li.active {
    background-color: #42ba46
}

.clear:after,
.clear:before {
    content: "";
    display: table;
    table-layout: fixed
}

.clear:after {
    clear: both
}

a {
    color: #23940e;
    text-decoration: underline
}

a:active,
a:focus,
a:hover {
    color: none;
    outline: 0;
    text-decoration: none
}

embed,
iframe,
object {
    width: 100%;
    border: 0
}

input[type=email],
input[type=url],
input[type=password],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
input[type=number],
input[type=search],
input[type=text],
textarea.materialize-textarea {
    border-bottom: 1px solid #ccc
}

input:not([type]):focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #42ba46;
    box-shadow: 0 1px 0 0 #42ba46
}

input:not([type]):focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #42ba46
}

[type=checkbox]:checked+label:before {
    border-right: 2px solid #42ba46;
    border-bottom: 2px solid #42ba46
}

[type=radio].with-gap:checked+label:before {
    border: 2px solid #42ba46
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #FAB9B9
}

.btn,
.btn-large,
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #42ba46
}

.btn,
.btn-large {
    text-decoration: none;
    color: #fff;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer
}

.btn-large:hover,
.btn:hover {
    background-color: #65a767
}

.btn-large.block,
.btn.block {
    width: 100%
}

span.highlight {
    display: inline-block;
    padding: 0 5px;
    background: #FCFCB3
}

span.dropcap {
    display: block;
    float: left;
    padding: 0 5px 0 3px;
    line-height: 30px;
    font-size: 28px;
    text-transform: uppercase
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

span.pull-left,
span.pull-right {
    color: #ccc;
    width: 30%;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    display: block
}

span.pull-right {
    float: right;
    margin: 0 0 10px 20px;
    text-align: right
}

span.pull-left {
    float: left;
    margin: 0 20px 10px 0
}

.searchbar {
    padding: 7px 15px;
    background: #efefef
}

.searchbar .icon {
    float: left;
    width: 28px;
    color: #999
}

.searchbar input {
    border: none;
    height: auto;
    width: calc(100% - 35px);
    font-size: 1rem;
    margin: 0;
    padding: 0
}

.searchbar input:focus:not([readonly]) {
    border-bottom: none;
    box-shadow: 0 0 0 0 #42ba46
}

.top-left-nav {
    padding: 15px 10px;
    background: #000;
    margin-bottom: 20px;
    box-sizing: border-box
}

#slide-out-left,
#slide-out-right {
    background: #fff;
    color: #444
}

#slide-out-left .collapsible,
#slide-out-right .collapsible {
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 30px 0 0
}

#slide-out-left .collapsible li,
#slide-out-right .collapsible li {
    padding: 0;
    list-style: none
}

#slide-out-left .collapsible-header,
#slide-out-left>.collapsible>li>a,
#slide-out-right .collapsible-header,
#slide-out-right>.collapsible>li>a {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    text-decoration: none;
    color: #000
}

#slide-out-left li.heading-menu,
#slide-out-left>.collapsible>li>a,
#slide-out-right li.heading-menu,
#slide-out-right>.collapsible>li>a {
    display: block;
    margin: 0 1.5rem;
    color: #000
}

#slide-out-left li.heading-menu,
#slide-out-right li.heading-menu {
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px
}

#slide-out-left li .line-separator,
#slide-out-right li .line-separator {
    margin: 0 18px 10px 20px;
    height: 1px;
    background: #ddd
}

#slide-out-left li a i.fa,
#slide-out-right li a i.fa {
    margin-right: 1rem;
    color: #999
}

#slide-out-left .collapsible-header i.fa,
#slide-out-right .collapsible-header i.fa {
    line-height: none;
    font-size: 14px;
    color: #999
}

#slide-out-left .collapsible-header span.fa,
#slide-out-right .collapsible-header span.fa {
    float: right
}

#slide-out-left .collapsible .active span.fa,
#slide-out-right .collapsible .active span.fa {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#slide-out-left .collapsible-header.current-item,
#slide-out-left li.current-item a,
#slide-out-left li.current-item a i,
#slide-out-right .collapsible-header.current-item,
#slide-out-right li.current-item a,
#slide-out-right li.current-item a i {
    color: #42ba46;
    font-weight: 700
}

#slide-out-left .collapsible-body,
#slide-out-right .collapsible-body {
    border: 0;
    background-color: transparent
}

#slide-out-left .collapsible-body ul,
#slide-out-right .collapsible-body ul {
    padding: 0;
    background: #efefef
}

#slide-out-left .collapsible-body li a,
#slide-out-right .collapsible-body li a {
    padding: 7px 10px 7px 30px;
    display: block;
    text-decoration: none;
    color: #444;
    font-weight: 400
}

#slide-out-left .collapsible-body li.current-item a,
#slide-out-right .collapsible-body li.current-item a {
    color: #42ba46
}

#slide-out-left li.active,
#slide-out-left li:hover,
#slide-out-right li.active,
#slide-out-right li:hover {
    background-color: transparent
}

.side-cover {
    height: 140px;
    background: #42ba46;
    position: relative
}

.side-cover .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background: -webkit-linear-gradient(top, transparent, #000);
    background: -moz-linear-gradient(top, transparent, #000);
    background: -ms-linear-gradient(top, transparent, #000);
    background: -o-linear-gradient(top, transparent, #000);
    opacity: .5
}

.side-cover .cover-img {
    height: 140px;
    overflow: hidden
}

.side-cover .cover-img img {
    width: 100%;
    overflow: hidden
}

.side-cover .prof-container {
    position: absolute;
    bottom: -30px;
    width: 100%;
    padding: 0 10px
}

.side-cover .prof-container .avatar {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff
}

.side-cover .prof-container .avatar img {
    width: 100%
}

.side-cover .prof-container .profile-name {
    float: right;
    width: calc(100% - 80px);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 5px 0 0
}

.tabs,
.tabs .tab {
    height: auto;
    padding: 0;
    margin: 0
}

.row .col.s3 {
    margin-left: 0
}

.tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ccc;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box
}

.tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 0;
    display: block;
    float: left;
    text-align: center;
    line-height: auto;
    text-transform: none;
    text-overflow: none;
    overflow: hidden;
    letter-spacing: auto;
    width: auto;
    min-width: auto
}

.tabs .tab a {
    color: #999;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: none;
    overflow: hidden;
    padding: 0 5px;
    transition: color .28s ease
}

.tabs .tab a:hover {
    color: none
}

.tabs .tab a.active {
    color: #fff
}

.tabs .tab.disabled a {
    color: #f9c9cb;
    cursor: default
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #23940e;
    will-change: left, right
}

.sidebar-tabs .tabs .tab a {
    padding: 0;
    display: block;
    width: 110px;
    text-align: center;
    text-decoration: none
}

.sidebar-tabs .tabs .tab a:hover {
    color: #999
}

.sidebar-tabs .tabs .tab a.active:hover {
    color: #fff
}

.sidebar-tabs .tabs .tab a.active {
    font-weight: 700
}

.tabs-content {
    padding: 15px
}

.tabs-date {
    font-size: 25px;
    font-weight: 300
}

.tabs-block {
    padding: 15px 0;
    font-size: 14px
}

.tabs-block .block-heading {
    border-top: 1px solid #eee;
    padding: 15px 0 0;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px
}

.tabs-notifications {
    list-style: none;
    padding: 0;
    margin: 0
}

.tabs-notifications li {
    padding: 10px 0
}

.tabs-notifications .user-pic {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 0 0
}

.tabs-notifications .user-pic img {
    width: 100%
}

.tabs-notifications .app-content {
    float: right;
    width: calc(100% - 40px)
}

.tabs-notifications .app-content .username {
    font-weight: 700
}

.tabs-notifications .app-content span.time {
    font-size: 12px;
    color: #bbb
}

.tabs-latest_tweet {
    padding: 0;
    margin: 0;
    list-style: none
}

.tabs-latest_tweet li {
    padding: 15px 0
}

.tabs-latest_tweet li a {
    text-decoration: none;
    font-weight: 700;
    color: #333
}

.tabs-latest_tweet li span {
    display: block
}

.tabs-latest_tweet li span a {
    color: #aaa;
    font-weight: 400
}

.tabs-chat {
    margin: 0;
    padding: 0;
    list-style: none
}

.tabs-chat li {
    padding: 10px 0
}

.tabs-chat .user-pic {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 10px 0 0
}

.tabs-chat .user-pic img {
    width: 100%
}

.tabs-chat .user {
    float: left;
    max-width: calc(100% - 50px)
}

.tabs-chat .user .username {
    padding: 6px 0;
    color: #000
}

.tabs-chat .indicator {
    float: right;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1EBF02;
    margin: 12px 0 0
}

.tabs-event {
    padding: 0;
    margin: 0;
    list-style: none
}

.tabs-event li {
    padding: 10px 0;
    min-height: 65px
}

.tabs-event li .event-date {
    float: left;
    width: 48px;
    border: 1px solid #42ba46;
    border-radius: 3px;
    overflow: hidden
}

.tabs-event li .event-date span {
    display: block;
    text-align: center
}

.tabs-event li .event-date span.year {
    font-size: 12px
}

.tabs-event li .event-date span.date {
    font-size: 20px;
    font-weight: 700
}

.tabs-event li .event-date span.month {
    background: #42ba46;
    color: #fff;
    font-size: 12px
}

.tabs-event li .event-name {
    width: calc(100% - 60px);
    margin: 0 0 0 60px;
    padding: 3px 0 0;
    line-height: 16px
}

#page {
    padding-top: 56px;
    position: relative
}

.page-bg {
    background: url(../images/8.jpg) center/cover no-repeat!important
}

.top-navbar {
    background: #fff;
    border-bottom: 1px solid #23940e;
    box-shadow: 0 0 5px #000;
    height: 56px;
    position: fixed;
    -webkit-transform: translateZ(0);
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    width: 100%
}

.top-navbar .site-title {
    text-align: center;
    margin: 0 auto;
    max-width: calc(100% - 100px);
    padding: 7px 0
}

.top-navbar .site-title h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    padding: 4px 0;
    color: #000
}

.top-navbar .top-navbar-left {
    float: left
}

.top-navbar .top-navbar-right {
    float: right;
    padding-right: 10px
}

.top-navbar .top-navbar-left a {
    font-size: 22px;
    padding: 10px 15px;
    display: inline-block;
    color: #555
}

.top-navbar .top-navbar-right a {
    font-size: 22px;
    padding: 10px 5px;
    display: inline-block;
    color: #555
}

.top-navbar .dropdown-content {
    background-color: #fff;
    margin: 56px 0 0;
    display: none;
    min-width: 170px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
    list-style: none;
    padding: 0
}

.top-navbar .dropdown-content li {
    list-style: none;
    min-height: auto;
    line-height: auto;
    padding: 0 8px
}

.top-navbar .dropdown-content li a {
    font-size: 15px;
    line-height: auto;
    text-decoration: none;
    color: #000
}

.top-navbar .dropdown-content li a i.fa {
    display: inline-block;
    width: 23px;
    color: #999
}

.top-navbar.float-navbar {
    background: 0 0;
    position: absolute;
    border-bottom: 0;
    box-shadow: none
}

.MiComunidad-card {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.MiComunidad-card.full-height {
    height: calc(100vh - 80px);
    width: 100%;
    box-sizing: border-box
}

.MiComunidad-card.full-height_alt {
    height: calc(100vh - 140px);
    width: 100%;
    box-sizing: border-box
}

.MiComunidad-card_title {
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #efefef
}

.MiComunidad-card_title.big-title {
    font-size: 24px
}

.featured-slider {
    background: #999;
    position: relative
}

.featured-slider .featured-item {
    position: relative;
    height: 220px;
    overflow: hidden
}

.featured-slider .featured-item .icons {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 30px;
    height: 30px;
    background: #000;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 50%;
    padding: 4px 0 0;
    text-align: center
}

.featured-slider .featured-item .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0
}

.featured-gallery-slider .featured-item .thumbnail img,
.featured-slider .featured-item .thumbnail img {
    width: 100%
}

.featured-slider .featured-item .overlay {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    background: #000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background: -webkit-linear-gradient(top, transparent, #000);
    background: -moz-linear-gradient(top, transparent, #000);
    background: -ms-linear-gradient(top, transparent, #000);
    background: -o-linear-gradient(top, transparent, #000);
    opacity: .8
}

.featured-slider .featured-item .caption {
    position: absolute;
    bottom: 0;
    padding: 5px 15px 45px
}

.featured-slider .featured-item .caption .underline {
    border-bottom: 2px solid #23940e
}

.featured-slider .featured-item .caption .highlight {
    background: #23940e;
    color: #fff;
    padding: 2px 3px
}

.featured-slider .featured-item .caption .issue {
    color: #FA6E6E;
    font-size: 13px
}

.featured-slider .featured-item .caption h2 {
    margin: 0 0 5px;
    padding: 0;
    font-size: 22px;
    color: #fff
}

.featured-slider .featured-item .caption h2 a {
    color: #fff;
    text-decoration: none
}

.featured-slider .featured-item .caption .meta {
    font-size: 13px;
    color: #bbb
}

.featured-slider .featured-item .caption .rating {
    font-size: 10px;
    color: #999
}

.featured-slider .featured-item .caption .rating i.fa.active {
    color: #EBE305
}

.featured-gallery-slider .featured-item .fullscreen,
.featured-slider .featured-item .fullscreen {
    position: absolute;
    top: 0;
    right: 0
}

.featured-gallery-slider .featured-item .fullscreen a,
.featured-slider .featured-item .fullscreen a {
    font-size: 18px;
    padding: 3px 7px;
    display: inline-block;
    background: #000;
    background: rgba(0, 0, 0, .5);
    color: #fff
}

.featured-slider .slick-dots,
.MiComunidad-testimonial_slider .slick-dots {
    width: auto;
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.featured-slider .slick-dots li,
.MiComunidad-testimonial_slider .slick-dots li {
    float: left;
    margin: 0 2px;
    list-style: none
}

.featured-slider .slick-dots li button,
.MiComunidad-testimonial_slider .slick-dots li button {
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    font-size: 0;
    border-width: 0
}

.blog-comments_child li,
.MiComunidad-article .blog-tagged,
.MiComunidad-blog .MiComunidad-blog_action {
    border-top: 1px solid #efefef
}

.blog-archieve li,
.blog-comments>li,
.blog-comments_form,
.fp_newsletter .heading-nl,
.product-single .product-header,
.separator-bottom,
.shop_review-list li {
    border-bottom: 1px solid #efefef
}

.featured-slider .slick-dots li button {
    background: #fff
}

.MiComunidad-testimonial_slider .slick-dots li button {
    background: #999
}

.featured-slider .slick-dots li.slick-active button,
.MiComunidad-testimonial_slider .slick-dots li.slick-active button {
    background: red
}

.featured-gallery-slider .next-arr,
.featured-gallery-slider .prev-arr {
    position: absolute;
    top: 40%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    background: #000;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    text-align: center;
    padding-top: 5px
}

.featured-gallery-slider .prev-arr {
    left: 10px;
    padding-right: 2px
}

.featured-gallery-slider .next-arr {
    right: 10px;
    padding-left: 2px
}

.fp_item-presentation {
    padding: 15px;
    text-align: center;
    color: #555;
    font-size: 13px
}

.fp_item-presentation .icon-presentation {
    font-size: 35px;
    margin: 0 auto 10px;
    color: #42ba46;
    border-radius: 50%;
    background: #efefef;
    width: 75px;
    height: 75px;
    line-height: 70px
}

.fp_item-presentation .title-presentation {
    font-size: 18px;
    font-weight: 700;
    color: #000
}

.front-ads {
    float: left;
    width: 50%;
    height: 110px;
    position: relative;
    overflow: hidden;
    display: block
}

.front-ads .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    background: rgba(0, 0, 0, .5)
}

.front-ads .thumb img {
    width: 100%
}

.front-ads .text-ads {
    color: #ccc;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 20px;
    text-align: center;
    width: 100%
}

.front-ads h3 {
    color: #fff;
    margin: 0 0 3px;
    padding: 0;
    font-size: 20px;
    font-weight: 700
}

.fp_newsletter {
    text-align: center;
    padding: 15px
}

.fp_newsletter .heading-nl {
    padding: 0 0 15px
}

.fp_newsletter .heading-nl h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 5px
}

.fp_newsletter .heading-nl p {
    font-size: 13px;
    color: #666
}

.blog-archieve_tools {
    padding: 15px
}

.blog-archieve_tools .archieve-date {
    float: left;
    width: calc(50% - 5px)
}

.blog-archieve_tools .archieve-category {
    float: right;
    width: calc(50% - 5px)
}

.blog-archieve_tools input,
.blog-archieve_tools select {
    margin: 0
}

.blog-archieve {
    list-style: none;
    padding: 0;
    margin: 0
}

.blog-archieve li {
    padding: 5px 15px
}

.blog-archieve li .item-archieve {
    text-decoration: none;
    color: #222
}

.blog-archieve li .archieve-date {
    display: block;
    font-size: 12px;
    color: #999;
    margin: 2px 0 0
}

.blog-archieve li .issue {
    display: block;
    color: #23940e;
    font-size: 13px
}

.MiComunidad-blog .MiComunidad-blog_thumb {
    max-height: 200px;
    overflow: hidden;
    position: relative
}

.MiComunidad-blog .MiComunidad-blog_thumb img {
    width: 100%
}

.MiComunidad-blog .MiComunidad-blog_thumb .post-type_badge {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 35px;
    font-size: 19px
}

.MiComunidad-blog .MiComunidad-blog_thumb .post-pinned {
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
    height: 33px;
    background: #23940e;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 17px
}

.MiComunidad-blog .MiComunidad-blog_thumb .thumb-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background: -webkit-linear-gradient(top, transparent, #000);
    background: -moz-linear-gradient(top, transparent, #000);
    background: -ms-linear-gradient(top, transparent, #000);
    background: -o-linear-gradient(top, transparent, #000);
    opacity: .6
}

.MiComunidad-blog .MiComunidad-blog_thumb .thumb-navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px
}

.MiComunidad-blog .MiComunidad-blog_thumb .thumb-navigation .issue {
    display: block;
    font-size: 13px;
    color: #FA6E6E
}

.MiComunidad-blog .MiComunidad-blog_thumb .thumb-navigation .blog-title {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 6px
}

.MiComunidad-blog .MiComunidad-blog_thumb .thumb-navigation .blog-title a {
    color: #fff;
    text-decoration: none
}

.MiComunidad-blog .MiComunidad-blog_thumb .thumb-navigation .blog-meta {
    font-size: 13px;
    color: #ccc
}

.MiComunidad-blog .MiComunidad-blog_action,
.MiComunidad-blog .MiComunidad-blog_content {
    padding: 15px
}

.MiComunidad-blog .MiComunidad-blog_action a {
    color: #000;
    text-decoration: none;
    font-weight: 700
}

.MiComunidad-blog_small {
    float: left;
    width: 100%
}

.MiComunidad-blog_small .MiComunidad-blog_thumb {
    float: left;
    width: 110px;
    overflow: hidden;
    line-height: 0;
    position: relative
}

.MiComunidad-blog_small .MiComunidad-blog_thumb .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .5
}

.MiComunidad-blog_small .MiComunidad-blog_thumb .icon {
    position: absolute;
    top: 30%;
    font-size: 28px;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center
}

.MiComunidad-blog_small .MiComunidad-blog_thumb img {
    width: 100%
}

.MiComunidad-blog_small .MiComunidad-blog_rightcontent {
    float: right;
    width: calc(100% - 120px);
    padding: 5px 5px 5px 0
}

.MiComunidad-blog_small .MiComunidad-blog_rightcontent .blog-title {
    font-size: 15px;
    margin: 0 0 5px;
    font-weight: 700
}

.MiComunidad-blog_small .MiComunidad-blog_rightcontent .blog-title a {
    color: #000;
    text-decoration: none
}

.MiComunidad-blog_small .MiComunidad-blog_rightcontent .blog-meta {
    font-size: 12px;
    color: #999
}

.blog-comments_form {
    padding: 15px
}

.blog-comments {
    padding: 0 15px;
    margin: 0;
    list-style: none
}

.blog-comments_child {
    padding: 0 15px 0 30px;
    list-style: none;
    margin: 15px 0 0
}

.blog-comments li {
    padding: 15px 0;
    float: left;
    width: 100%;
    box-sizing: border-box
}

.blog-comments li.has_child {
    padding: 15px 0 0
}

.MiComunidad-article .blog-content,
.MiComunidad-article .post-header {
    padding: 15px
}

.blog-comments li .user-pic,
.blog-comments_child li .user-pic {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden
}

.blog-comments li .user-pic img,
.blog-comments_child li .user-pic img {
    width: 100%
}

.blog-comments li .comment-content,
.blog-comments_child li .comment-content {
    float: right;
    width: calc(100% - 65px)
}

.blog-comments li.has_child>.comment-content {
    margin-bottom: 15px
}

.blog-comments li .comment-content .user-name,
.blog-comments_child li .comment-content .user-name {
    margin: 0;
    font-size: 15px;
    font-weight: 700
}

.blog-comments li .comment-content .comment-meta,
.blog-comments_child li .comment-content .comment-meta {
    margin: 0 0 10px;
    color: #999;
    font-size: 12px
}

.MiComunidad-article .post-header .entry-title,
.MiComunidad-article .post-header .entry-title_page {
    margin: 0;
    font-size: 22px;
    color: #000
}

.MiComunidad-article .post-header .entry-title_page {
    font-weight: 700
}

.MiComunidad-article .post-header .entry-meta {
    margin: 5px 0 0;
    font-size: 13px;
    color: #999
}

.MiComunidad-article .blog-content .thumb img {
    width: 100%
}

.MiComunidad-article .blog-content .thumb .caption {
    background: #eee;
    font-size: 12px;
    padding: 4px 5px;
    color: #555;
    font-style: italic
}

.MiComunidad-article .blog-content .thumb,
.MiComunidad-article .blog-content p,
.MiComunidad-event .event-content p,
.product-single .product-content p {
    margin-bottom: 17px
}

.MiComunidad-article .blog-shared a:not(.btn):not(.btn-large):not(.btn-floating),
.MiComunidad-event .event-shared a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #fff
}

.MiComunidad-article .blog-shared,
.MiComunidad-event .event-shared {
    text-align: center;
    border-top: 1px solid #efefef;
    padding: 15px
}

.MiComunidad-article .blog-shared a,
.MiComunidad-event .event-shared a {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%
}

.MiComunidad-article .blog-shared a.fb,
.MiComunidad-event .event-shared a.fb {
    background: #3b5998
}

.MiComunidad-article .blog-shared a.tw,
.MiComunidad-event .event-shared a.tw {
    background: #55acee
}

.MiComunidad-article .blog-shared a.gplus,
.MiComunidad-event .event-shared a.gplus {
    background: #dd4b39
}

.MiComunidad-article .blog-tagged {
    padding: 15px
}

.MiComunidad-article .blog-tagged i.fa {
    display: iniline-block;
    margin: 0 12px 0 0;
    color: #ccc
}

.MiComunidad-article .blog-tagged a {
    display: iniline-block;
    margin: 0 7px 0 0;
    color: #999
}

.MiComunidad-article .thumb .caption {
    background: #eee;
    font-size: 12px;
    padding: 4px 5px;
    margin-top: -5px;
    color: #555;
    font-style: italic
}

.post-featured-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 0 20px
}

.post-featured-video iframe.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.shop_category-item {
    display: inline-block;
    text-decoration: none;
    line-height: 0;
    width: calc(50% - 2px);
    margin-bottom: 4px
}

.shop_category-item.left {
    margin-right: 2px
}

.shop_category-item.right {
    margin-left: 2px
}

.shop_category-item .thumb {
    position: relative;
    height: 100px;
    overflow: hidden
}

.shop_category-item .thumb .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background: -webkit-linear-gradient(top, transparent, #000);
    background: -moz-linear-gradient(top, transparent, #000);
    background: -ms-linear-gradient(top, transparent, #000);
    background: -o-linear-gradient(top, transparent, #000);
    opacity: .8
}

.shop_category-item .thumb .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px
}

.shop_category-item .thumb .caption .category-name {
    color: #fff;
    margin: 0 0 5px;
    padding: 0;
    font-size: 18px
}

.shop_category-item .thumb .rating {
    font-size: 10px;
    color: #999
}

.shop_category-item .thumb .rating i.fa.active {
    color: #EBE305
}

.shop_category-item .thumb img {
    width: 100%
}

.shop_review-list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none
}

.shop_review-list li {
    padding: 10px 0
}

.shop_review-list li .review-idty {
    float: left;
    width: 80px
}

.shop_review-list li .review-ctn {
    width: calc(100% - 95px);
    margin: 0 0 0 95px;
    min-height: 60px
}

.shop_review-list li .name {
    margin: 0 0 5px;
    font-weight: 700
}

.shop_review-list li .product-rating {
    font-size: 10px;
    color: #eee
}

.shop_review-list li .product-rating i.fa.active {
    color: #EBE305
}

.product-list {
    padding: 0;
    list-style: none;
    margin: 0
}

.product-list .product-item {
    padding: 10px;
    float: left;
    width: 50%
}

.MiComunidad-article .thumb img,
.MiComunidad-event .thumb img,
.product-list .product-item .thumb img,
.product-single .thumb img {
    width: 100%
}

.product-list .product-item .thumb {
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 5px
}

.product-list .product-item .product-name {
    max-height: 40px;
    font-weight: 700;
    overflow: hidden
}

.product-list .product-item .product-price {
    margin: 0 0 5px
}

.product-list .product-item .product-price .product-price_original {
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px
}

.product-list .product-item .product-price .product-price_reduced {
    color: #f90;
    font-weight: 700
}

.product-list .product-item .product-rating {
    font-size: 12px;
    color: #eee
}

.product-list .product-item .product-rating i.fa.active {
    color: #EBE305
}

.separator-right {
    border-right: 1px solid #efefef
}

.MiComunidad-faq .collapsible,
.MiComunidad-shop_checkout .collapsible {
    border-right: 0 solid #ddd;
    border-left: 0 solid #ddd;
    list-style: none
}

.product-single .product-header {
    padding: 10px
}

.product-single .product-header .product-name {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 5px
}

.product-single .product-header .product-price {
    margin: 0 0 5px
}

.product-single .product-header .product-price .product-price_original {
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px
}

.product-single .product-header .product-price .product-price_reduced {
    color: #f90;
    font-weight: 700
}

.product-single .product-header .product-rating {
    font-size: 12px;
    color: #eee
}

.product-single .product-header .product-rating i.fa.active {
    color: #EBE305
}

.product-single .product-tabs .tabs {
    background-color: #fff;
    border-bottom: 1px solid #efefef
}

.product-single .product-tabs .tabs .tab {
    padding: 0 10px
}

.product-single .product-tabs .tabs .tab a {
    color: #bbb;
    text-decoration: none
}

.product-single .product-tabs .tabs .tab a.active {
    color: #000
}

.product-single .product-tabs .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 0
}

.product-single .product-content {
    padding: 15px
}

.subtitle {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px
}

.MiComunidad-shop_checkout .collapsible {
    padding: 0;
    margin: 0;
    border-top: 0 solid #ddd;
    box-shadow: none
}

.MiComunidad-shop_checkout .collapsible>li {
    list-style: none;
    margin: 0 0 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.MiComunidad-shop_checkout .collapsible li .collapsible-header {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 0;
    padding: 15px;
    font-weight: 700
}

.MiComunidad-shop_checkout .collapsible li .collapsible-header .total-cart {
    display: inline-block;
    float: right
}

.MiComunidad-shop_checkout .collapsible li .collapsible-header span.fa {
    float: right
}

.MiComunidad-shop_checkout .collapsible .active span.fa {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body {
    display: none;
    border-bottom: none;
    border-top: 1px solid #efefef;
    box-sizing: border-box;
    padding: 15px
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-items {
    padding: 0;
    margin: 0 0 10px
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-items li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #efefef;
    padding: 5px 0;
    min-height: 50px
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-items li .item-img {
    display: inline-block;
    width: 50px;
    float: left;
    max-height: 40px;
    overflow: hidden
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-items li .item-img img {
    width: 100%
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-items li .item-name {
    width: calc(100% - 125px);
    display: inline-block;
    margin: 0 5px
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-items li .item-price {
    width: 60px;
    display: inline-block;
    text-align: right
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-addon,
.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-subtotal {
    padding: 5px 0
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-subtotal {
    font-weight: 700
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-addon .addon-value,
.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-subtotal .subtotal-value,
.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-total .total-value {
    float: right
}

.MiComunidad-shop_checkout .collapsible li .collapsible-body .cart-total {
    font-weight: 700;
    padding: 10px 0;
    border-top: 1px solid #efefef
}

.MiComunidad-shop_checkout .input-field {
    padding: 0 15px
}

.MiComunidad-shop_checkout .input-field label {
    left: 15px
}

.MiComunidad-event .event-content {
    padding: 15px
}

.MiComunidad-event .event-content .event-item_spec {
    margin: 0 0 15px
}

.MiComunidad-event .event-content .event-item_spec .spec-main {
    display: block;
    color: #999;
    font-size: 13px
}

.MiComunidad-event .event-content .event-item_spec .spec-main i.fa {
    margin: 0 5px 0 0;
    display: inline-block
}

.MiComunidad-event .post-header .event-date span,
.MiComunidad-event_list .event-date span {
    display: block
}

.MiComunidad-event .post-header {
    margin-bottom: 15px
}

.MiComunidad-event .post-header .event-date {
    float: left;
    width: 70px;
    text-align: center;
    line-height: 23px;
    padding: 5px
}

.MiComunidad-event .post-header .event-date span.date {
    font-size: 30px
}

.MiComunidad-event .post-header .event-date span.year {
    font-size: 12px
}

.MiComunidad-event .post-header .event-title {
    float: right;
    width: calc(100% - 70px);
    padding: 15px 15px 0 0;
    line-height: 23px;
    margin: 0;
    font-size: 20px
}

.MiComunidad-event_list {
    float: left;
    width: 100%
}

.MiComunidad-event_list .event-date {
    float: left;
    width: 70px;
    text-align: center;
    line-height: 23px;
    padding: 10px 5px;
    background: #ddd
}

.MiComunidad-event_list .event-content {
    float: right;
    width: calc(100% - 80px);
    padding: 5px
}

.MiComunidad-event_list .event-date span.date {
    font-size: 30px
}

.MiComunidad-event_list .event-date span.year {
    font-size: 12px
}

.MiComunidad-event_list .event-content .event-name {
    line-height: 20px;
    margin: 0 0 5px;
    font-size: 16px
}

.MiComunidad-event_list .event-content .event-name a {
    color: #000;
    text-decoration: none
}

.MiComunidad-event_list .event-content .event-location {
    color: #999;
    font-size: 13px
}

.MiComunidad-faq .collapsible {
    padding: 0;
    margin: 0;
    border-top: 0 solid #ddd;
    box-shadow: none
}

.gallery-filter,
.gallery-list a img,
.MiComunidad-chat .opponent .pic,
.MiComunidad-chat .self .pic,
.MiComunidad-faq .collapsible li,
.MiComunidad-testimonial .items .content-testi,
.MiComunidad-testimonial .items .profile .pic,
.MiComunidad-testimonial_slider .items .content-testi,
.MiComunidad-testimonial_slider .items .profile .pic,
.search-form input[type=search],
.search-form input[type=text] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.MiComunidad-faq .collapsible li {
    list-style: none;
    margin: 0 0 5px;
    background-color: #fff
}

.MiComunidad-faq .collapsible li .collapsible-header {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 0;
    padding: 15px;
    font-weight: 700
}

.MiComunidad-faq .collapsible li .collapsible-header span.fa {
    float: right
}

.MiComunidad-faq .collapsible .active span.fa {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.MiComunidad-faq .collapsible li .collapsible-body {
    display: none;
    border-bottom: none;
    border-top: 1px solid #efefef;
    box-sizing: border-box
}

.MiComunidad-faq .collapsible li .collapsible-body p {
    margin: 0;
    padding: 15px
}

.MiComunidad-testimonial,
.MiComunidad-testimonial_slider {
    margin: 0 0 15px;
    position: relative;
    box-sizing: border-box
}

.MiComunidad-testimonial .items,
.MiComunidad-testimonial_slider .items {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    margin: 0 0 40px
}

.MiComunidad-testimonial_slider .items {
    margin: 0 0 40px
}

.MiComunidad-testimonial .items {
    margin: 0 0 15px
}

.MiComunidad-testimonial .items .profile,
.MiComunidad-testimonial_slider .items .profile {
    float: left;
    width: 90px;
    text-align: center
}

.MiComunidad-testimonial .items .profile .pic,
.MiComunidad-testimonial_slider .items .profile .pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden
}

.MiComunidad-testimonial .items .profile .pic img,
.MiComunidad-testimonial_slider .items .profile .pic img {
    width: 100%
}

.MiComunidad-testimonial .items .profile .name,
.MiComunidad-testimonial_slider .items .profile .name {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 700
}

.MiComunidad-testimonial .items .profile .desc,
.MiComunidad-testimonial_slider .items .profile .desc {
    font-size: 12px;
    color: #999;
    line-height: 15px;
    display: inline-block
}

.MiComunidad-testimonial .items .content-testi,
.MiComunidad-testimonial_slider .items .content-testi {
    background: #fff;
    width: calc(100% - 101px);
    margin: 0 0 0 99px;
    min-height: 120px;
    padding: 15px;
    position: relative
}

.MiComunidad-testimonial .items .content-testi:after,
.MiComunidad-testimonial_slider .items .content-testi:after {
    content: '';
    position: absolute;
    left: -15px;
    top: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    z-index: 9;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff transparent transparent
}

.MiComunidad-drawer .items,
.MiComunidad-sequence .items {
    position: relative;
    overflow: hidden
}

.search-form input[type=search],
.search-form input[type=text] {
    background: #fff;
    padding: 25px 15px;
    font-size: 20px;
    margin-bottom: 5px;
    box-sizing: border-box
}

.not-found {
    padding: 60px 20px 0;
    text-align: center
}

.not-found h2 {
    font-size: 75px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #ccc
}

.not-found h2.coming-soon {
    font-size: 35px
}

.not-found h3 {
    margin: 0 0 30px;
    padding: 0
}

.gallery-list {
    padding: 5px
}

.gallery-list a {
    display: block;
    float: left;
    width: 50%;
    padding: 3px;
    overflow: hidden;
    max-height: 300px
}

.gallery-list a img {
    width: 100%
}

.gallery-list .mix-target {
    display: none
}

.gallery-filter {
    background-color: #fff;
    width: calc(100% - 20px);
    margin: 0
}

.gallery-filter .tab {
    padding: 0 7px
}

.gallery-filter .tab a {
    color: #ccc;
    text-decoration: none
}

.gallery-filter .tab a.active,
.gallery-filter .tab a:hover {
    color: #000
}

.MiComunidad-sequence {
    padding: 20px;
    text-align: center;
    min-height: 400px
}

.MiComunidad-drawer {
    padding: 10px;
    text-align: center
}

.MiComunidad-drawer .items {
    height: 430px
}

.MiComunidad-sequence .items .thumb-icon {
    margin: 20px auto 30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #eee;
    color: #23940e;
    font-size: 70px;
    line-height: 120px
}

.MiComunidad-sequence .items .thumb-icon img {
    width: 100%
}

.MiComunidad-sequence .items .heading {
    font-size: 22px;
    margin: 0 0 20px;
    color: #000;
    font-weight: 700
}

.MiComunidad-sequence .items p {
    color: #777;
    font-size: 13px
}

.MiComunidad-drawer .slick-dots,
.MiComunidad-sequence .slick-dots {
    width: auto;
    position: absolute;
    padding: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.MiComunidad-drawer .slick-dots {
    bottom: -20px
}

.MiComunidad-sequence .slick-dots {
    bottom: 0
}

.MiComunidad-drawer .slick-dots li,
.MiComunidad-sequence .slick-dots li {
    float: left;
    margin: 0 2px;
    list-style: none
}

.MiComunidad-drawer .slick-dots li button,
.MiComunidad-sequence .slick-dots li button {
    width: 13px;
    height: 3px;
    overflow: hidden;
    background: #999;
    display: inline-block;
    font-size: 0;
    border-width: 0
}

.MiComunidad-drawer .slick-dots li.slick-active button,
.MiComunidad-sequence .slick-dots li.slick-active button {
    background: red
}

.drawer-icon {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0
}

.drawer-icon li {
    margin: 5px 12px 20px;
    float: left
}

.drawer-icon li .name {
    color: #666;
    font-size: 12px;
    padding: 5px 0
}

.drawer-icon li .icon {
    background: #ccc;
    width: 58px;
    height: 58px;
    border-radius: 10px;
    font-size: 30px;
    line-height: 55px;
    color: #fff
}

.drawer-icon li .icon.green-gradient {
    background: #36E01F;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#67F754), to(#36E01F));
    background: -webkit-linear-gradient(top, #67F754, #36E01F);
    background: -moz-linear-gradient(top, #67F754, #36E01F);
    background: -ms-linear-gradient(top, #67F754, #36E01F);
    background: -o-linear-gradient(top, #67F754, #36E01F)
}

.drawer-icon li .icon.blue-gradient {
    background: #269ED1;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#41B6E8), to(#269ED1));
    background: -webkit-linear-gradient(top, #41B6E8, #269ED1);
    background: -moz-linear-gradient(top, #41B6E8, #269ED1);
    background: -ms-linear-gradient(top, #41B6E8, #269ED1);
    background: -o-linear-gradient(top, #41B6E8, #269ED1)
}

.todo {
    list-style: none;
    padding: 0;
    margin: 0
}

.todo>li {
    padding: 15px;
    border-bottom: 1px solid #efefef
}

.todo>li.heading {
    padding: 8px 15px 8px 50px;
    font-weight: 700;
    color: #000
}

.todo li [type=checkbox]+label {
    color: #111;
    font-size: 15px
}

.todo li .todo-time {
    display: block;
    font-size: 12px;
    margin: 0 0 0 35px;
    color: #999
}

.todo li .todo-icon {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px 0 0 3px;
    border-radius: 50%;
    overflow: hidden
}

.todo li .todo-icon img {
    width: 100%
}

.MiComunidad-chat {
    padding: 0;
    margin: 10px 0 60px;
    list-style: none
}

.MiComunidad-chat>li {
    margin: 0 0 25px
}

.MiComunidad-chat .tl-date {
    text-align: center;
    color: #999
}

.MiComunidad-chat .opponent .pic,
.MiComunidad-chat .self .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden
}

.MiComunidad-chat .opponent .pic {
    float: left;
    margin: 0 15px 0 0
}

.MiComunidad-chat .self .pic {
    float: right
}

.MiComunidad-chat .opponent .pic img,
.MiComunidad-chat .self .pic img {
    width: 100%
}

.MiComunidad-chat .opponent .message,
.MiComunidad-chat .opponent .messages,
.MiComunidad-chat .self .message,
.MiComunidad-chat .self .messages {
    padding: 10px;
    width: calc(100% - 65px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.MiComunidad-chat .opponent .message,
.MiComunidad-chat .opponent .messages {
    background: #fff;
    margin: 0 0 0 65px
}

.MiComunidad-chat .self .message,
.MiComunidad-chat .self .messages {
    background: #FCF0F0;
    margin: 0
}

.MiComunidad-chat .opponent .messages,
.MiComunidad-chat .self .messages {
    padding: 0;
    list-style: none
}

.MiComunidad-chat .opponent .messages>li,
.MiComunidad-chat .self .messages>li {
    padding: 10px;
    border-bottom: 1px solid #efefef
}

.MiComunidad-chat .opponent .message img,
.MiComunidad-chat .opponent .messages img,
.MiComunidad-chat .self .message img,
.MiComunidad-chat .self .messages img {
    width: 100%
}

.MiComunidad-chat .latest-seen {
    font-size: 12px;
    color: #999;
    padding: 2px 0;
    margin: 0 0 0 65px;
    display: inline-block
}

.chat-msg-form {
    background: #ddd;
    border-top: 1px solid #ccc;
    padding: 15px 0
}

.chat-msg-form span {
    display: inline-block
}

.chat-msg-form span.img-icon {
    text-align: center;
    width: 40px;
    color: #666
}

.chat-msg-form span.input-form {
    width: calc(100% - 100px)
}

.chat-msg-form span.input-form input {
    background: #fff;
    margin: 0;
    border-bottom: none;
    padding: 5px;
    height: auto;
    box-sizing: border-box
}

.chat-msg-form span.input-form input:focus {
    border-bottom: none;
    box-shadow: none
}

.chat-msg-form span.send-button {
    width: 50px;
    text-align: center
}

.chat-msg-form span.send-button button {
    background: 0 0;
    border: transparent;
    font-weight: 700
}

.profile-page .cover-container {
    height: 290px;
    position: relative
}

.profile-page .cover-container .cover {
    height: 200px;
    overflow: hidden
}

.profile-page .cover-container .cover img {
    width: 100%
}

.profile-page .account-container {
    position: absolute;
    top: 165px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center
}

.profile-page .account-container .user-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
    border: 2px solid #fff
}

.friend-list li,
.profile-tabs {
    border-bottom: 1px solid #efefef
}

.profile-page .account-container .user-pic img {
    width: 100%
}

.profile-page .account-container .profile-name {
    color: #000;
    font-size: 20px;
    font-weight: 700
}

.profile-tabs {
    width: 100%;
    overflow: hidden
}

.profile-tabs .tabs {
    background: #fff;
    box-sizing: border-box
}

.profile-tabs .tabs .tab {
    width: 50%;
    list-style: none
}

.profile-tabs .tabs .tab a {
    color: #ccc;
    text-decoration: none
}

.profile-tabs .tabs .tab a.active {
    font-weight: 700;
    color: #000
}

.profile-content {
    padding: 0 15px
}

.profile-content .profile-block {
    padding: 15px 0
}

.profile-content .profile-block .heading {
    text-transform: uppercase;
    color: #bbb;
    font-size: 13px
}

.profile-content .profile-block .profile-photo a {
    display: inline-block;
    width: calc(33% - 2px);
    max-height: 70px;
    margin: 1px 0 0;
    overflow: hidden
}

.profile-content .profile-block .profile-photo a img {
    width: 100%
}

.friend-list {
    padding: 0;
    margin: 0;
    list-style: none
}

.friend-list li {
    height: 80px
}

.friend-list li .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin: 10px 0 0
}

.friend-list li .avatar img {
    width: 100%
}

.friend-list li .friend-name {
    width: calc(100% - 70px);
    margin: 0 0 0 70px;
    padding: 25px 0 0
}

.lockscreen {
    width: 100%
}

.lockscreen .app-time {
    text-align: center;
    margin: 0 0 20px;
    line-height: 32px
}

.lockscreen .app-time .clock {
    font-weight: 700;
    color: #fff;
    font-size: 50px
}

.lockscreen .app-time .date {
    color: #ddd
}

.app-timeline {
    padding: 10px
}

.app-timeline .user-pic {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden
}

.app-timeline .user-pic img {
    width: 100%
}

.app-timeline .app-content {
    float: right;
    width: calc(100% - 65px)
}

.app-timeline .app-content .username {
    font-weight: 700
}

.app-timeline .app-content .time {
    display: block;
    text-align: right;
    color: #999;
    font-size: 13px
}

#to-top,
.footer,
.MiComunidad-calendar .month-name,
.MiComunidad-calendar table,
.MiComunidad-calendar table td {
    text-align: center
}

.MiComunidad-calendar {
    padding: 15px
}

.MiComunidad-calendar .month-name {
    font-size: 25px;
    font-weight: 700
}

.MiComunidad-calendar table thead {
    border-bottom: none;
    font-weight: 700
}

.MiComunidad-calendar table td {
    padding: 5px 7px
}

.MiComunidad-calendar table td.prev-month {
    color: #bbb
}

.MiComunidad-calendar table td.current-date {
    font-weight: 700;
    color: #fff;
    background: red
}

.MiComunidad-calendar_schedule {
    padding: 0;
    margin: 0;
    list-style: none
}

.MiComunidad-calendar_schedule li {
    border-bottom: 1px solid #efefef;
    padding: 20px 15px
}

.MiComunidad-calendar_schedule li .schedule-name {
    font-size: 16px;
    margin: 0 0 10px
}

.MiComunidad-calendar_schedule li .schedule-time {
    color: #aaa;
    font-size: 13px
}

.MiComunidad-calendar_schedule li .schedule-time i.fa {
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 0
}

.MiComunidad-calendar_schedule li .schedule-icon {
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    color: #42ba46;
    background: #efefef;
    margin-left: 5px
}

.MiComunidad-calendar_schedule li .schedule-icon img {
    width: 100%
}

.app-desc {
    color: #666;
    font-size: 13px
}

.signup .form-content {
    padding: 15px
}

.footer {
    background: #ddd;
    color: #777;
    font-size: 13px;
    padding: 20px 15px;
    margin: 15px 0 0;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.footer .heading {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    color: #444
}

.footer p {
    margin-bottom: 17px
}

.social-footer a {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    color: #666
}

.footer .copyright {
    color: #999;
    padding: 15px 0 0;
    margin: 15px 0 0;
    border-top: 1px solid #ccc
}

#to-top {
    position: fixed;
    right: 30px;
    bottom: -100px;
    width: 45px;
    height: 40px;
    overflow: auto;
    padding: 2px 0 0;
    font-size: 20px;
    cursor: pointer;
    background: #870404;
    background: rgba(135, 4, 4, .5);
    color: #fff;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    z-index: 111;
    border-radius: 5px
}

@media screen and (min-width:768px) {
    .featured-slider .featured-item {
        height: 500px
    }
}

@media screen and (max-width:374px) {
    .featured-slider .featured-item {
        height: 200px
    }
    .featured-slider .featured-item .caption {
        padding: 2px 15px 25px
    }
}